{% extends 'master.html' %}

{% block title %}Add Book{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <h1 class="mb-4 py-2">Add Book</h1> 
    </div>
    <div class="col-md-6">
        <a href="/books" class="btn btn-primary float-right mt-3">Back to Books</a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        
        {% if alert %}
            <div class="alert alert-{{ alert.0 }}" alert-dismissible fade show" role="alert">
                {{ alert.1 }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success mt-2"><i class="far fa-save"></i> Save</button>
        </form>
    </div>
</div>
    
{% endblock content %}
    